[Desktop Entry]
Name=bliss
Comment=Music metadata fixer, cleaner, and updater.
Exec=/app/bin/run.sh
Type=Application
Icon=com.blisshq.bliss
Categories=Music;
